$themes: (
  light: (
    text-color: #000,
    bg-color: #f8f8fa,
  ),
  dark: (
    text-color: #eff2f7,
    bg-color: #222736,
  ),
);

@each $theme, $map in $themes{
  .theme-#{$theme}{
    background-color: map-get($map, $key: "bg-color");
    color: map-get($map, $key: "text-color");
  }
}